.butt {
  position: relative;
  margin-left: 0.625rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  color: white;
  font-size: 0.87rem;
  font-weight: 300;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.green {
  background-color: #4ab6a4;
}

.gray {
  background-color: #bbbbbb;
}

.green:hover {
  background-color: #3da797;
}

.gray:hover {
  background-color: #c4c4c4;
}
