.category {
  width: 100%;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* test */
  float: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .category {
    flex: 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .category {
    flex: 25%;
    max-width: 25%;
  }
}
