body {
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  min-width: 300px; /* Suppose you want minimum width of 350px */
  width: auto !important; /* Firefox will set width as auto */
  width: 300px; /* As IE6 ignores !important it will set width as 350px; */
}

html,
body,
#root,
.page {
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  min-height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}

@media (min-width: 980px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
