body {
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    height: 100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

html, body {
    height: 100%;
}

#root, .page {
   height: 100%;
} 

.container {
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto
}