body {
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    /* width: 100%; */

    margin: 0;
    padding: 0;
    
}

html, body {
    height: 100%;
}

#root, .page {
   height: 100%;
} 

.container {
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 80px;
    min-height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 540px;
}


